
/*GENERAL*/

/*-------------------------------------------------------*/


.flexbox-showcases{
  padding: 10px;
}

.page-title {
  text-align: center;
  letter-spacing: 8px;
  font-size: 55px;
  font-weight: 700;
  margin: 10px 0 10px 0;
}



.flexbox-elements-categories{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px
}

.parent-elements{
  width: 50%
}

.child-elements{
  width: 50%
}


.category-title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: rgb(73, 73, 73)
}


.css-code-snippet {
  min-height: 100px;
  width: 50%;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.css-code-snippet__title {
  color: green
}

.container-title {
  text-align: left;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.show-cases-container{
  width: 100%;
  min-height: 250px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;

} 

.box-container {
  width: 250px;
  height:200px;
  position: relative;
  background-color: blanchedalmond;
  display: flex; 
}

/*--------------------PARENT ELEMENTS -------------------------------*/
/* Flex direction */
.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;;
}

/* Justisfy content*/
.justify-content-start{
  justify-content: flex-start;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-end{
  justify-content: flex-end;
}

/* Align items */
.align-items-start{
  align-items: flex-start;
}

.align-items-center{
  align-items: center;
}

.align-items-end{
  align-items: flex-end;
}

.gap {
  gap: 20px;
}

.gap-column-gap {
  column-gap: 10px;
}

.gap-row-gap {
  row-gap: 10px;
}

/*-------------------------------------------------------*/


/*--------------------CHILD ELEMENTS -------------------------------*/
.align-self {
  align-self: flex-end;
}

.margin {
  margin-left: auto;
}

/*-------------------------------------------------------*/
.box-container__title{
  position: absolute;
  bottom: 0%;
  right: 0%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  padding: 4px
}


.box-title {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.box-1 {
  width: 60px;
  height: 60px;
   background-color: aqua;
   
}

.box-2 {
  width: 60px;
  height: 60px;
  background-color: rgb(223, 126, 236);
}

.box-3 {  
  width: 60px;
  height: 60px;
  background-color: greenyellow;
}


@media (max-width: 1500px) {
  .show-cases-container{
    flex-wrap: wrap;
  }
}

@media (max-width: 1250px) {
  .category-title {
    font-size: 30px;
  }
}

@media (max-width: 990px) {
  .category-title {
    font-size: 20px;
  }

  .css-code-snippet {
    width: 70%;
  }
}


@media (max-width: 730px){
  .category-title {
    font-size: 20px;
  }

  .css-code-snippet {
    width: 80%;
  }
}

@media (max-width: 674px){
  .category-title {
    font-size: 15px;
  }

  .css-code-snippet {
    width: 90%;
  }

}

@media (max-width: 572px){
  .category-title {
    font-size: 15px;
  }

  .css-code-snippet {
    width: 100%;
  }

}